@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/css/site.css" />
<div class="maininfo">
    <div>
        <label id="lblSingleInfo"></label>
        <label id="lblStaticInfo">/@(ViewBag.QuestionCount)；</label>
        <label id="lblLastScore"></label>
    </div>
    <div id="lblSummaryInfo"></div>
    <textarea id="lblQuestion" readonly></textarea>
</div>
<div>
    <input type="button" class="BtnLeft" score="0" value="0" onclick="saveIntorspect(this)" />
    <input type="button" class="BtnMiddle" value="上一个" onclick="getPreviousQuestion(); " />
    <input type="button" class="BtnRight" score="100" value="100" onclick="saveIntorspect(this)" />
    <br />
    <input type="button" class="BtnLeft" score="10" value="10" onclick="saveIntorspect(this)" />
    <input type="button" class="BtnMiddle" score="20" value="20" onclick="saveIntorspect(this)" />
    <input type="button" class="BtnRight" score="30" value="30" onclick="saveIntorspect(this)" />
    <br />
    <input type="button" class="BtnLeft" score="40" value="40" onclick="saveIntorspect(this)" />
    <input type="button" class="BtnMiddle" score="50" value="50" onclick="saveIntorspect(this)" />
    <input type="button" class="BtnRight" score="60" value="60" onclick="saveIntorspect(this)" />
    <br />
    <input type="button" class="BtnLeft" score="70" value="70" onclick="saveIntorspect(this)" />
    <input type="button" class="BtnMiddle" score="80" value="80" onclick="saveIntorspect(this)" />
    <input type="button" class="BtnRight" score="90" value="90" onclick="saveIntorspect(this)" />
    <br />
    <input type="button" class="BtnLeft" score="0" value="0" onclick="saveIntorspect(this)" />
    <input type="button" class="BtnMiddle" value="下一个" onclick="getNextQuestion(); " />
    <input type="button" class="BtnRight" score="100" value="100" onclick="saveIntorspect(this)" />
    <br />
    <input type="button" class="BtnLeft" value="分数统计" onclick="getStatisticInfo()" />
    <input type="button" class="BtnMiddle" value="前一个待答" onclick="getPreviousUnhandledQuestion()" />
    <input type="button" class="BtnRight" score="0" value="0" onclick="saveIntorspect(this)" />
</div>
<script src="~/js/jquery.json.min.js"></script>
<script type="text/javascript">
    var currentQuestion = null;

    $(document).ready(function () {
        getNextQuestion();//首次页面加载时显示
        getStatisticInfo();
    });

    function saveIntorspect(obj) {
        var score = $(obj).attr("score");
        if (score != null) {
            $("#lblLastScore").text("上一个得分：" + score);
        }

        $.post("/Introspect/SaveIntorspect", { question: currentQuestion, score: score }, function (data) {
            if (data == "false") {
                alert("操作失败");
                return;
            }
            getNextQuestion(score);
        });
    }


    //function getNextQuestion(score) {
    //    $.ajax({
    //        url: '/Introspect/GetNextQuestion',
    //        cache: false,
    //        type: 'Post',
    //        async: false,
    //        data: {currentQuestionStr:$.toJSON(currentQuestion)} ,
    //        contentType: 'application/json;charset=utf-8',
    //        success: function (data, status, xhr) {
    //            if (data == "end") {
    //                if (score != null && currentQuestion != null && currentQuestion.Score == null) {
    //                    //如果已经选了分数的，要将分数显示出来
    //                    currentQuestion.Score = score;
    //                    refresh();
    //                }
    //                alert("亲，已经是最后一个了~");
    //                return;
    //            }
    //            currentQuestion = $.evalJSON(data);
    //            refresh();
    //        },
    //        error: function (data, status, e) {
    //            alert("ajax error");
    //        }
    //    });
    //}

    function getNextQuestion(score) {
        $.post("/Introspect/GetNextQuestion", currentQuestion, function (data) {
            if (data == "end") {
                if (score != null && currentQuestion != null && currentQuestion.Score == null) {
                    //如果已经选了分数的，要将分数显示出来
                    currentQuestion.Score = score;
                    refresh();
                }
                alert("亲，已经是最后一个了~");
                return;
            }
            currentQuestion = $.evalJSON(data);
            refresh();
        });
    }

    function getPreviousQuestion() {
        $.post("/Introspect/GetPreviousQuestion", currentQuestion, function (data) {
            if (data == "end") {
                alert("亲，没有上一个了~");
                return;
            }
            currentQuestion = $.evalJSON(data);
            refresh();
        });
    }

    function refresh() {
        if (currentQuestion != null) {
            $("#lblQuestion").text(currentQuestion.QuestionMember);
            $("#lblSingleInfo").text(currentQuestion.Score + "/" + currentQuestion.Sort);
        } else {
            alert("操作失败");
            return;
        }
    }

    function getStatisticInfo() {
        $.post("/Introspect/GetStatisticInfo", null, function (data) {
            $("#lblSummaryInfo").text(data);
        });
    }

    function getPreviousUnhandledQuestion() {
        $.post("/Introspect/GetPreviousUnhandledQuestion", currentQuestion, function (data) {
            if (data == "end") {
                alert("亲，没有你想要的结果哦~");
                return;
            }
            currentQuestion = $.evalJSON(data);
            refresh();
        });
    }

</script>