@model IEnumerable<LjcWebApp.question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a asp-controller="Question" asp-action="Create">Create New</a>
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuestionMember)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionMember)
            </td>
            <td>
                <a asp-controller="Question" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
				<a asp-controller="Question" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }

</table>
