@using Sakura.AspNetCore

<table>
    <tr quadrant="3">
        <th></th>
        <th>
            不重要-紧急
        </th>
    </tr>
    @Html.Partial("QuadrantPartial", (IPagedList)ViewBag.OnePageOfQuadrantList3)
</table>
