@using PagedList.Mvc;
@using PagedList;
<table>
    <tr quadrant="4">
        <th></th>
        <th>
            不重要-不紧急
        </th>
    </tr>
    @Html.Partial("QuadrantPartial", (IPagedList)ViewBag.OnePageOfQuadrantList4)
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfQuadrantList4, page => Url.Action("GetQuadrantList",
                            new { page, quadrant = 4, ViewBag.PageSize }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
    new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "unobtrusive-historylist4" }))
</table>
