@using Sakura.AspNetCore

<table>
    <tr quadrant="2">
        <th></th>
        <th>
            重要-不紧急
        </th>
    </tr>
    @Html.Partial("QuadrantPartial", (IPagedList)ViewBag.OnePageOfQuadrantList2)
</table>
