@using Sakura.AspNetCore

<table>
    <tr quadrant="1">
        <th></th>
        <th>
            很重要-很紧急
        </th>
    </tr>
    @Html.Partial("QuadrantPartial", (IPagedList)ViewBag.OnePageOfQuadrantList1)
</table>