@using Sakura.AspNetCore

<table>
    <tr quadrant="4">
        <th></th>
        <th>
            不重要-不紧急
        </th>
    </tr>
    @Html.Partial("QuadrantPartial", (IPagedList)ViewBag.OnePageOfQuadrantList4)
</table>
